<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <h3 class="text-center main-heading"><img alt="Logo" style="height: 35px;" src="/images/logo.png">Football Tweets</h1>

  </nav>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 search-section">
      <div class="panel">
        <div class="panel-body">
          <form action="/" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="player" id="playerName" placeholder="Player (eg. Rooney, @waynerooney)">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="team" id="teamName" placeholder="Team (eg. @manutd, #manutd)">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="author" id="authorName" placeholder="Author (eg.@waynerooney)">
            </div>
            <button type="submit" class="btn btn-primary search-button">Search</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Search Result -->
  <div class= "col-md-12 results-section">
  {{#if query}}
    <h3> Search results for "{{query}}"</h3>

    </div>
    {{#if tweets}}
      {{#each tweets }}
        <div hidden class="container col-md-12 tweet-container">
           <div class="panel panel-success">
             <!-- Search team name via DBPedia I think -->
             <div class="panel-heading"><a href="https://www.twitter.com/{{this.user.screen_name}}">{{this.user.name}} @{{this.user.screen_name}}</a></div>
             <div class="panel-body">
              <a href="https://www.twitter.com/{{this.user.screen_name}}/status/{{this.id_str}}">Original Tweet</a>
              <p>{{this.text}}</P>
             </div>
             <div class="panel-success panel-footer">
               <p> Time and date: {{{formatDate this.created_at}}} </p>
             </div>
           </div>
         </div>
      {{/each}}
    {{else}}
      <div class="container col-md-12">
        No tweet matches your query. Please try again !
      </div>
    {{/if}}
  {{/if}}
