<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <h3 class="text-center main-heading"><img alt="Logo" style="height: 35px;" src="/images/logo.png">Football Tweets</h1>

  </nav>
 {{! This is the box where tweets will be displye. }}
  <div class="row">
    <div class="col-md-4 col-md-offset-2 search-section">
      <div class="panel">
        <div class="panel-body">
          {{#if message }}
            <div class="alert alert-danger" role="alert">{{message}} is not allowd. Please try again !</div>
          {{/if}}
          <form action="/" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="player" id="playerName" placeholder="Player (eg. Rooney, @waynerooney)">
            </div>
            <div class="radio">
              <label class="radio-inline">
                <input type="radio" name="queryOption" value="AND" checked> AND
              </label>
              <label class="radio-inline">
                <input type="radio" name="queryOption" value="OR"> OR
              </label>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="team" id="teamName" placeholder="Team (eg. @manutd, #manutd)">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="author" id="authorName" placeholder="Author (eg.@waynerooney)">
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                <input type="checkbox" name="api" id="checkDatabase" checked="checked">
                Live results
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary search-button">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 search-section">
      {{#if DBpediaInfo}}
      <div class="col-sm-5">
        <img src="{{DBpediaInfo.playerInfo.4.thumbnail}}" alt="Player_Image" width="200px" style="margin-top:10%;">
      </div>
      <div class="col-sm-7">
        <h1>{{DBpediaInfo.playerInfo.0.name}} </h1>
        <p> ({{DBpediaInfo.playerInfo.1.dob}}) <p>
        <h3>{{DBpediaInfo.playerInfo.2.team}}</h3>
        <h4>{{DBpediaInfo.playerInfo.3.position}}</h4>
      </div>
      {{else}}
        <h1>Tips:</h1>
        <h4> You can search both within our database and online using the 'Live' toggle <h4>
        <h4>Toggle between AND/OR to refine your search</h4>
        <h4>Some players have DBPedia info that will be displayed here</h4>
      {{/if}}
    </div>
    {{#if recommendations}} {{! These are the recommended searches that are based on your query. }}
    <div class = "container col-sm-12">
      <ol class="rec-list">
        <li class="rec-heading"> People also searched for: </li>
        {{#each recommendations}}
          {{#if this.player_name}}
            <li> {{this.player_name}},</li>
          {{/if}}
          {{#if this.team}}
            <li> {{this.team}}, </li>
          {{/if}}
        {{/each}}
      </ol>
    </div>
    {{/if}}
  <!-- Search Result -->

  {{#if query}}
    <div class= "col-md-12 results-section">
      <h3> Search results for "{{player}} {{team}} {{author}}" </h3>
    </div>
  {{#if tweets}}
    <!-- Frequency Analysis  -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Frequency Analysis</div>
        <div class="panel-body">
          {{{formatArray classifiedTweets}}}
        </div>
      </div>
    </div>
    <!-- Display Tweets  -->
    {{#each tweets }}
      <div hidden class="col-md-12 tweet-container"  id='tweets-list'>
         <div class="panel panel-success">
           <!-- Search team name via DBPedia I think -->
           <div class="panel-heading"><a href="https://www.twitter.com/{{this.user.screen_name}}" target="_blank">{{this.user.name}} @{{this.user.screen_name}}</a></div>
           <a class="tweet-text" href="https://www.twitter.com/{{this.user.screen_name}}/status/{{this.id_str}}" target="_blank"><div class="panel-body tweet-link-div">{{this.text}}</div></a>
           <div class="panel-success panel-footer">
             <p> Time and date: {{{formatDate this.created_at "dddd, MMMM Do YYYY, h:mm:ss a"}}} </p>
           </div>
         </div>
       </div>
    {{/each}}

    {{#if tweetsDB}}
      <div class="col-md-12 tweet-container">
        <p class="bg bg-info">There are {{tweetsDB}} tweets about this query in the database !</p>
      </div>
    {{/if}}
  {{else}}
  {{#if DBtweets}}
    <!-- Display Tweets  -->
    {{#each DBtweets}}
      <div hidden class="col-md-12 tweet-container">
         <div class="panel panel-success">
           <!-- Search team name via DBPedia I think -->
           <div class="panel-heading"><a href="https://www.twitter.com/{{this.username}}" target="_blank">{{this.username}} @{{this.username}}</a></div>
           <a class="tweet-text" href="https://www.twitter.com/{{this.user.screen_name}}/status/{{this.id_str}}" target="_blank"><div class="panel-body tweet-link-div">{{this.tweet_text}}</div></a>
           <div class="panel-success panel-footer">
             <p> Time and date: {{{formatDate this.created_at "DD-MM-YYYY"}}} </p>
           </div>
         </div>
       </div>
    {{/each}}
  {{else}}
    <div class="col-md-12 tweet-container">
      <p>No (new) tweets found on Twitter</p>.
      {{#if tweetsDB}}
        <p class="bg bg-info">There are {{tweetsDB}} tweets about this query in the database !</p>
      {{/if}}
    </div>
  {{/if}}
  {{/if}}
{{/if}}
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  socket.on('stream', function(data){
    //var date = moment().format(data.created_at, 'DD-MM-YYYY, h:mm')
    //console.log(date)
    // text box for new tweets beign streamed.
    $('<div class="panel panel-info"> <div class="panel panel-info new-tweet"> <div class="panel-heading"><a href="https://www.twitter.com/{{' + data.user.screen_name + '}}" target="_blank">' + data.user.name + ' @' + data.user.screen_name + '</a></div> <a class="tweet-text" href="https://www.twitter.com/' + data.user.screen_name + '/status/'+ data.id_str + '" target="_blank"><div class="panel-body tweet-link-div">' + data.text + '</div></a> <div class="panel-success panel-footer"> <p> Time and date:' + data.created_at + '</p> </div> </div> </div>').prependTo($('#tweets-list'));

  });
</script>
